<!DOCTYPE html>
<html>
<head>
    <title><%= settings.title %></title>
    <%-partial('stylesheets')%>
</head>
<body>

<%-partial('navbar')%>
<div class="container starter-template">
    <form class="form-signin" action="/login" method="post">
        <h2 class="form-signin-heading">Create Administrator</h2>
        <input type="text" class="form-control" placeholder="Name" autofocus name="name">
        <input type="text" class="form-control" placeholder="Email"  name="email">
        <input type="password" class="form-control" placeholder="Password"  name="password">
        <input type="password" class="form-control" placeholder="Re-Enter Password" name="repassword">
        <button class="btn btn-lg btn-default btn-block" type="submit">Submit</button>
    </form>
</div>
<!-- /.container -->
<script src="//code.jquery.com/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>