<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">S4</a>
        </div>
        <div class="collapse navbar-collapse">
            <% if (navbar) { %>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hello, <%= navbar.username %> <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">My Information</a></li>
                            <li class="divider"></li>
                            <li><a href="/logout">Sign out</a></li>
                        </ul>
                    </li>
                </ul>
            <% } %>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>